extends partials/templates/_template.pug


block content
    +b.SECTION.page

        // Promo
        +b.SECTION.promo
            .container
                +e.wrapper
                    +b.A.logo--violet(href="#") Интернет-магазин настольных зеркал
                    +e.btn-wrapper
                        //+b.A.tel(href="tel:88005555555", target="_blank") 8 800 555 55 55
                        +b.A.callback(href="#form-question") Заказать обратный звонок
                    .row
                        .col-xs-12.col-md-6
                            +e.H1.title Компактное
                                br
                                | настольное складное зеркало с
                                span.bg-pink LED&nbsp;подсветкой
                                |  как в салоне красоты
                            +e.advantages
                                +e.advantage-item
                                    span.bg-pink Идеальный макияж
                                    |  при любом освещении
                                +e.advantage-item
                                    span.bg-pink 100% внимание
                                    |  мужчин
                                +e.advantage-item
                                    span.bg-pink 3-х кратное увеличение
                                    |  мельчайших деталей
                                +e.advantage-item
                                    span.bg-pink Удобно
                                    |  пользоваться даже на природе
                        .col-xs-12.col-md-6
                            +b.mirror
                                +e.img
                                    img(src="img/mirror-main.png", alt="mirror main")
                                    +e.prices
                                        +e.old-price 4 990 руб.
                                        +e.new-price 2 990 руб.
                                +e.btn-wrapper
                                    +b.A.btn(href="#discount") Заказать
                                    +e.text с экономией 2 000 руб.
                                        br
                                        | и без предоплаты

        // Services
        +b.SECTION.advantages
            .container
                +e.H2.title ПРЕИМУЩЕСТВА НАСТОЛЬНОГО СКЛАДНОГО ЗЕРКАЛА С ПОДСВЕТКОЙ
                .row
                    .col-xs-12.col-md-3
                        +b.advantage--one
                            +e.H3.title 3-кратное увеличение
                            +e.OL.list
                                li Всегда идеально ровный тон
                                li Красивые одинаковые стрелки
                                li Четкий контур губ
                                li Без отпечатков туши на веках
                                li Без размазанных следов под глазами
                    .col-xs-12.col-md-6
                        +e.img--upper
                            img(src="img/mirror-dimensions.png", alt="mirror dimensions")
                    .col-xs-12.col-md-3
                        +b.advantage--two
                            +e.H3.title Подсветка из 21 LED лампы
                            +e.OL.list
                                li Четко сфокусированный свет
                                li Регулируемая яркость свечения
                                li Время работы 20 000 часов
                                li Не создает лишних теней на лице

                    .col-xs-12.col-md-3
                        +b.advantage--three
                            +e.H3.title Складывается до размеров смартфона
                            +e.OL.list
                                li Есть съемная подставка
                                li В сложенном состоянии помещается в сумочку
                                li Имеет наклонный механизм 180о
                    .col-xs-12.col-md-6
                        +e.img--lower
                            img(src="img/mirror-dimensions2.jpg", alt="mirror dimensions")
                    .col-xs-12.col-md-3
                        +b.advantage--four
                            +e.H3.title Работает от сети и от аккумулятора
                            +e.OL.list
                                li Можно заряжать как смартфон
                                li Удобно брать с собой в поездки или на природу
                                li Продолжительность работы более 12 часов без подзарядки
                    .col-xs-12
                        +e.btn-wrapper
                            +b.A.btn(href="#form-question") Получить бесплатную консультацию

        // Examples
        +b.SECTION.examples
            .container
                +e.H2.title ПРИМЕРЫ ИДЕАЛЬНОГО МАКИЯЖА
                    br
                    | СДЕЛАННОГО С ПОМОЩЬЮ ЧУДО ЗЕРКАЛА
                +e.gallery
                    +e.slide
                        +e.img
                            img(src="img/Girl-1.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/Girl-2.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/Girl-3.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/Girl-1.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/Girl-2.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/Girl-3.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/primer1.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/primer2.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/primer3.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/primer4.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/primer5.jpg", alt="girl")
                    +e.slide
                        +e.img
                            img(src="img/primer6.jpg", alt="girl")


        // Discount
        +b.SECTION.discount(id="discount")
            .container
                +e.H2.title Успейте заказать зеркало
                    br
                    | по
                    .bb-violet специальной цене
                .row
                    .col-xs-12.col-md-6
                        +e.img
                            img(src="img/mirror-main.png", alt="girl")
                    .col-xs-12.col-md-6
                        +e.form
                            +b.FORM.form(id="form", method="post", action="form.php")
                                +e.inner
                                    +e.H3.title Получи
                                        span.color-pink экономию
                                        |  2 000 руб
                                    +e.LABEL.label
                                        +e.INPUT.input(type='text', name='name', placeholder='Имя', required)
                                    +e.LABEL.label
                                        +e.INPUT.input(type='tel', name='phone', placeholder='Номер телефона', required)
                                    +e.btn-wrapper
                                        +b.BUTTON.btn--form(type='submit') Заказать
                                +e.thanks
                                    p Спасибо!
                                    p Наш консультант свяжется с Вами
                                        br
                                        | в ближайшее время


        // Examples
        +b.SECTION.reviews
            .container
                +e.H2.title ОТЗЫВЫ НАШИХ КЛИЕНТОК, КОТОРЫЕ НАУЧИЛИСЬ
                    br
                    | РИСОВАТЬ РОВНЫЕ СТРЕЛКИ ВСЕГО
                    .bb-violet ЗА 3 МИНУТЫ!
                .row
                    .col-xs-12
                        +e.gallery
                            +e.slide
                                +b.review-item
                                    .cocoen
                                        +e.IMG.img(src="img/before-after/1before.jpg", alt="girl")
                                        +e.IMG.img(src="img/before-after/1after.jpg", alt="girl")
                                    +e.text-wrapper
                                        +e.text-title Я всегда завидовала девушкам, у которых получались красивые стрелки…
                                        +e.text Я для себя нашла решение, заказала профессиональное зеркало для макияжа. За счет того, что у него есть увеличение и подсветка, у меня теперь всегда получаются идеальные стрелки, о которых я так мечтала! Спасибо за быструю доставку и такое превосходное зеркало!
                                        +e.name Марина
                            +e.slide
                                +b.review-item
                                    .cocoen
                                        +e.IMG.img(src="img/before-after/2after.jpg", alt="girl")
                                        +e.IMG.img(src="img/before-after/2before.jpg", alt="girl")
                                    +e.text-wrapper
                                        +e.text-title Давно мечтала о таком зеркале!...
                                        +e.text Всегда делала макияж в ванной, как, наверное, многие. Это очень неудобно, мало света. Купив зеркало, теперь я делаю макияж там, где мне удобно. Свет не имеет значения, так как зеркало с подсветкой. Она очень яркая, плюс есть увеличение. Получается всегда ровный тон лица, одинаковые стрелки на обоих глазах. Хочу сказать спасибо поставщику, прислали быстро, зеркало очень качественное, я довольна.
                                        +e.name Катя
                            +e.slide
                                +b.review-item
                                    .cocoen
                                        +e.IMG.img(src="img/before-after/3after.jpg", alt="girl")
                                        +e.IMG.img(src="img/before-after/3before.jpg", alt="girl")
                                    +e.text-wrapper
                                        +e.text-title Я очень довольна своей покупкой!....
                                        +e.text Я постоянно покупаю в интернет – магазинах. Сталкивалась с разными ситуациями, то товар не соответствует по качеству, то посылка идет целую вечность. А в этом магазине меня полностью устроило обслуживание, оператор очень быстро позвонил, уточнил адрес доставки, посылка пришла через 4 дня! Даже Почта России не подкачала. )))) А главное качество отличное.  Спасибо за прекрасное зеркало и хорошее обслуживание.
                                        +e.name Катя
                +e.btn-wrapper
                    +b.A.btn(href="#discount") ЗАКАЗАТЬ СО СКИДКОЙ 2000 руб. БЕЗ ПРЕДОПЛАТЫ

        .bubbles
            // Guaranty
            +b.SECTION.guaranty
                +e.bg
                .container
                    +e.H2.title ГАРАНТИЯ ВОЗВРАТА ДЕНЕГ
                    .row
                        .col-xs-12.col-md-4
                            +e.item--one ГАРАНТИЯ 12 МЕС.
                        .col-xs-12.col-md-4
                            +e.item--two ВОЗВРАТ ДЕНЕГ В ТЕЧЕНИИ 7 ДНЕЙ БЕЗ ОБЯСНЕНИЯ ПРИЧИН
                        .col-xs-12.col-md-4
                            +e.item--three ОПЛАТА ЗА ТОВАР ТОЛЬКО ПОСЛЕ ПОЛУЧЕНИЯ ЗАКАЗА

            // How we work
            +b.SECTION.how-we-work
                .container
                    +e.title-wrapper
                        +e.img
                            img(src="img/mirror-main.png", alt="mirror")
                        +e.H2.title КАК МЫ РАБОТАЕМ?
                            br
                            span.color-violet ВСЕ ОЧЕНЬ ПРОСТО!
                    +e.flex
                        +e.flex-item ВЫ&nbsp;ДЕЛАЕТЕ&nbsp;ЗАКАЗ
                        +e.flex-item С ВАМИ СВЯЗЫВАЕТСЯ ОПЕРАТОР
                            br
                            | В ТЕЧЕНИИ 30 МИНУТ
                            br
                            | ДЛЯ ПОДТВЕРЖДЕНИЯ ЗАКАЗА
                        +e.flex-item МЫ ВЫСЫЛАЕМ ПОСЫЛКУ
                            br
                            | НА ВАШ АДРЕС
                    +e.text
                        p *Вы оплачиваете посылку только после получения
                        p *Вам приходит смс уведомление с трекномером вашей посылки и вы сможете отслеживать ее до почтового отделения
                        p *Среднее время  доставки 3 дня

            // Additional discount
            +b.SECTION.additional-discount
                +e.bg
                .container
                    +e.H2.title КАК ПОЛУЧИТЬ
                        span.bb-white ДОПОЛНИТЕЛЬНУЮ СКИДКУ
                        |  5%?
                        br
                        |  ЛЕГКО!
                    +e.subtitle Оплати доставку прямо сейчас и получи дополнительную скидку 5%
                        br
                        | на чудо зеркало с подсветкой
                    .row
                        .col-xs-12.col-md-6
                            +e.img
                                img(src="img/mirror-discount.png", alt="girl")
                        .col-xs-12.col-md-6
                            +e.text
                                p Идеальный макияж при любом освещении
                                p 100% внимание мужчин
                                p 3-х кратное увеличение мельчайших деталей
                                p Удобно пользоваться даже на природе
                            +e.btn-wrapper
                                +b.A.btn(href="#discount") ЗАКАЗАТЬ С ДОПОЛНИТЕЛЬНОЙ СКИДКОЙ

        // Map
        +b.SECTION.map(id="questions")
            +e.H2.title КАК НАС НАЙТИ?
            +e.inner
                +b.pin Главный офис находится по адресу: г. Москва, Чермянский проезд, 9
            +e.wrapper
                .container
                    .row
                        .col-xs-12.col-md-6.offset-md-6
                            +e.form
                                +b.FORM.form(id="form-question", method="post", action="form.php")
                                    +e.inner
                                        +e.H3.title ОСТАЛИСЬ ВОПРОСЫ?
                                        +e.text Оставьте Ваш номер телефона
                                            br
                                            | и наш консультант свяжется с Вами
                                        +e.LABEL.label
                                            +e.INPUT.input(type='text', name='name', placeholder='Имя', required)
                                        +e.LABEL.label
                                            +e.INPUT.input(type='tel', name='phone', placeholder='Номер телефона', required)
                                        +e.btn-wrapper
                                            +b.BUTTON.btn--form(type='submit') Задать вопрос
                                    +e.thanks
                                        p Спасибо!
                                        p Наш консультант свяжется с Вами
                                            br
                                            | в ближайшее время

        // Important
        +b.SECTION.important
            .container
                +e.H2.title ВАЖНОЕ О НАС
                +e.UL.list
                    li Более 837 довольных клиентов ежемесячно
                    li Более 5 403 заявок выполнено за 2017 год
                    li Более 120 благодарственных писем
                    li Всего 15 возвратов за все время
                    li Мы работаем только с проверенными поставщиками
                    li Более 1 320 положительных отзывов

