.additional-discount{
  background-color: $violet;
  color: $text-white;
  position: relative;
  padding: 70px 0 0;
  @media (max-width: $breakpoint-md){
    padding: 30px 0 0;
  }
  &__bg{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    @media (max-width: $breakpoint-md){
      height: 100px;
    }
    &:before{
      content: '';
      width: 2000px;
      height: 500px;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $violet;
      @media (max-width: $breakpoint-md){
        width: 800px;
        height: 500px;
      }
    }
  }
  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px;
    text-transform: uppercase;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 10px 30px;
    }
  }
  &__subtitle{
    font-weight: normal;
    text-align: center;
    font-size: 22px;
    line-height: (28/22);
    margin: 0 0 70px;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 20px 30px;
      line-height: 1.6;
    }
  }
  &__img{
    margin: 0 40px -170px;
    @media (max-width: $breakpoint-md){
      margin: -20px 10px 0;
    }
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__text{
    padding: 20px 30px 0;
    font-size: 26px;
    line-height: (28/26);
    @media (max-width: $breakpoint-md){
      font-size: 20px;
      padding: 0 30px 0;
    }
    p{
      margin: 0 0 25px;
    }
  }
  &__btn-wrapper{
    margin: 0 0 -60px;
    padding: 30px 0 0;
    @media (max-width: $breakpoint-md){
      margin: 0 10px 0;
    }
    .btn{
      padding: 15px 15px;
      width: 100%;
      @media (max-width: $breakpoint-md){
        border-radius: 50px;
      }
    }
  }
}
