.advantages{
  padding: 35px 0 95px;
  @media (max-width: $breakpoint-md){
    padding: 30px 0 50px;
  }

  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 100px 90px;
    position: relative;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 0 20px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 310px;
      height: 4px;
      background-color: $pink;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      @media (max-width: $breakpoint-md){
        width: 140px;
      }
    }
  }
  &__img{
    margin-bottom: -20px;
    @media (max-width: $breakpoint-md){
      margin: 0;
    }
    &--lower{
      margin-top: 60px;
      margin-left: -40px;
      margin-right: -20px;
      @media (max-width: $breakpoint-md){
        margin: 0;
      }
    }
  }
  &__btn-wrapper{
    padding: 75px 0 0;
    text-align: center;
    @media (max-width: $breakpoint-md){
      padding: 0;
    }
    .btn{
      @media (max-width: $breakpoint-md){
        font-size: 19px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.advantage{
  padding: 20px 0 60px;
  position: relative;
  z-index: 1;
  @media (max-width: $breakpoint-md){
    padding: 10px 0 10px;
  }

  &:before{
    content: '';
    display: block;
    margin: 0 auto 35px;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
  }
  &--one{
    &:before{
      @include sprite($s-adv-zoom);
    }
    &:after{
      @include sprite($s-arrow1);
      right: -25px;
      @media (max-width: $breakpoint-xl){
        transform: translate(100px, -50px) rotate(-40deg);
      }
      @media (max-width: $breakpoint-md){
        right: -60px;
        bottom: 70px;
        transform: scale(0.8) rotate(-90deg) scaleX(-1) !important;
      }
    }
  }
  &--two{
    margin-left: -10px;
    @media (max-width: $breakpoint-md){
      margin: 0;
    }
    &:before{
      @include sprite($s-adv-lamp);
    }
    &:after{
      @include sprite($s-arrow2);
      left: -180px;
      @media (max-width: $breakpoint-xl){
        transform: translate(0px, -50px) rotate(35deg);
      }
      @media (max-width: $breakpoint-md){
        bottom: auto;
        left: auto;
        top: 0;
        right: -70px;
        transform: scale(0.4) rotate(-90deg) scaleX(-1) !important;
      }
    }
  }
  &--three{
    &:before{
      @include sprite($s-adv-mob);
      margin-bottom: 45px;
    }
    &:after{
      @include sprite($s-arrow3);
      right: -85px;
      bottom: -15px;
      @media (max-width: $breakpoint-xl){
        transform: translateY(-50px) rotate(-40deg);
      }
      @media (max-width: $breakpoint-md){
        right: -60px;
        bottom: 40px;
        transform: scale(0.4) rotate(-90deg) scaleX(-1) !important;
      }
    }
    .advantage__title{
      margin-bottom: -5px;
    }
  }
  &--four{
    margin-top: 80px;
    @media (max-width: $breakpoint-md){
      margin: 0;
    }
    &:before{
      @include sprite($s-adv-charge);
      margin-bottom: 25px;
    }
    &:after{
      @include sprite($s-arrow4);
      left: -190px;
      bottom: 40px;
      @media (max-width: $breakpoint-xl){
        transform: translateY(-50px) rotate(45deg);
      }
      @media (max-width: $breakpoint-md){
        bottom: auto;
        left: auto;
        top: 0;
        right: -40px;
        transform: scale(0.4) rotate(-90deg) scaleX(-1) !important;
      }
    }
    .advantage__list{
      margin-left: 30px;
    }
  }

  &__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: (27/18);
    font-weight: normal;
    margin: 0 -10px;
    @media (max-width: $breakpoint-md){
      margin: 0;
    }
  }
  &__list{
    padding-left: 0;
    margin: 5px 10px;
    color: $text-black;
    font-size: 13px;
    line-height: 1.8;
    @media (max-width: $breakpoint-md){
      padding: 0 40px;
    }
  }
}
