.examples{
  background-color: $violet;
  padding: 70px 0 100px;
  @media (max-width: $breakpoint-md){
    padding: 20px 0 40px;
  }
  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 0 50px;
    text-transform: uppercase;
    color: $text-white;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 10px 30px;
    }
  }
  &__gallery{
    position: relative;
    padding: 0 40px;
    @media (max-width: $breakpoint-md){
      padding: 0 15px;
    }
    .slick-arrow{
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      @include sprite($s-examples-arrow);
      position: absolute;
      z-index: 1;
      top: 50%;
      padding: 0;
    }
    .slick-prev{
      left: 0;
      transform: translateY(-50%) rotate(180deg);
      @media (max-width: $breakpoint-md){
        left: 20px;
      }
      &:hover{
        transform: translateY(-50%) rotate(180deg) scale(1.4);
        @media (max-width: $breakpoint-md){
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    .slick-next{
      right: 0;
      transform: translateY(-50%);
      @media (max-width: $breakpoint-md){
        right: 20px;
      }
      &:hover{
        transform: translateY(-50%) scale(1.4);
        @media (max-width: $breakpoint-md){
          transform: translateY(-50%);
        }
      }
    }
    .slick-center{
      .examples__img{
        padding: 0;
        position: relative;
        z-index: 2;
        width: 190%;
        margin-left: -45%;
        @media (max-width: $breakpoint-md){
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
  &__img{
    padding: 60px 0;
    margin: 0;
    width: 100%;
    height: 450px;
    transition: all .325s ease 0s;
    @media (max-width: $breakpoint-md){
      height: 200px;
    }
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
    }
  }
}
