.footer{
  padding: 0 0 40px;
  background-color: $violet;
  color: $text-white;
  @media (max-width: $breakpoint-xl){
    text-align: center;
  }
  &__wrapper{
    position: relative;
  }
  &__btn-wrapper{
    position: absolute;
    top: 0;
    right: 30px;
    padding: 50px 0 0;
    text-align: center;
    @media (max-width: $breakpoint-xl){
      position: static;
      margin: 0 10px 20px;
      padding: 30px 0 0;
    }
    .tel{
      display: block;
      margin-bottom: 20px;
    }
    .btn{
      padding-left: 45px;
      padding-right: 45px;
      @media (max-width: $breakpoint-md){
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &__copyright{
    margin: 20px 0 0;
    font-size: 11px;
    line-height: (16/11);
    max-width: 50%;
    @media (max-width: $breakpoint-xl){
      max-width: 100%;
      margin: 35px 10px 0;
    }
  }
  &__links-wrapper{
    max-width: 50%;
    margin: 25px 0 0;
    font-size: 11px;
    line-height: (16/11);
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-xl){
      max-width: 100%;
      flex-wrap: wrap;
      margin: 25px 10px 0;
    }
  }
  &__link{
    color: $text-pink;
    @media (max-width: $breakpoint-md){
      margin: 10px 0;
    }
  }
  &__email{
    color: $text-pink;
    @media (max-width: $breakpoint-md){
      margin: 10px 0;
    }
  }
}
