.form{
  background-color: $violet;
  color: $text-white;
  padding: 35px 30px 55px;
  position: relative;
  @media (max-width: $breakpoint-md){
    padding: 15px 15px 25px;
  }
  &__title{
    text-transform: uppercase;
    text-align: center;
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    margin: 0 20px 5px;
    @media (max-width: $breakpoint-xl){
      margin: 0 0 10px;
    }
    @media (max-width: $breakpoint-md){
      font-size: 24px;
    }
  }
  &__text{
    text-align: center;
    font-size: 20px;
    line-height: (36/20);
    margin: 10px 0 60px;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 0 20px;
    }
  }
  &__label{
    display: block;
  }
  &__input{
    width: 100%;
    background-color: transparent;
    border: 3px solid $white;
    padding: 8px 25px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: (36/24);
    color: $text-white;
    @media (max-width: $breakpoint-md){
      font-size: 14px;
      padding: 5px 15px;
      margin-bottom: 15px;
    }
    &:focus{
      outline: none;
      box-shadow: 0px 0px 15px 5px $pink, inset 0px 0px 12px 2px $pink;
    }
    &::-webkit-input-placeholder{
      color: $text-white;
    }
    &::placeholder{
      color: $text-white;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;
    }
    &:focus::placeholder{
      color: transparent;
    }

    &.error {
      border: 2px solid red;
    }
    &.valid {
      border: 2px solid green;
    }
  }
  &__btn-wrapper{
    padding: 25px 0 0;
    text-align: center;
    @media (max-width: $breakpoint-md){
      padding: 10px 0 0;
    }
    .btn{
      width: calc(100% - 60px);
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 0;
      padding-right: 0;
      @media (max-width: $breakpoint-md){
        font-size: 14px;
      }
    }
  }

  &__inner{
    display: block;
    // visibility: hidden;
  }
  &__thanks{
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    p:first-of-type{
      font-size: 42px;
      margin: 20px 0;
    }
  }
}
