.how-we-work{
  background-color: $pink;
  color: $text-white;
  position: relative;
  padding: 0 0 70px;
  @media (max-width: $breakpoint-md){
    padding: 0 0 40px;
  }

  &__title-wrapper{
    display: flex;
    align-items: flex-end;
    @media (max-width: $breakpoint-md){
      flex-wrap: wrap;
    }
  }
  &__img{
    position: relative;
    z-index: 1;
    max-width: 420px;
    @media (max-width: $breakpoint-md){
      flex: 0 0 100%;
      max-width: 100%;
      top: -40px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__flex{
    padding: 55px 0 40px;
    display: flex;
    align-items: center;
    margin: 0 -10px 0 30px;
    @media (max-width: $breakpoint-xl){
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width: $breakpoint-md){
      margin: 0;
      padding: 0;
    }
  }
  &__flex-item{
    max-width: 500px;
    padding: 20px;
    border: 2px solid $white;
    border-radius: 15px;
    text-align: center;
    margin: 0 40px;
    position: relative;
    @media (max-width: $breakpoint-xl){
      margin: 30px 20px;
    }
    &:after{
      content: '';
      display: block;
      @include sprite($s-examples-arrow);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -55px;
      @media (max-width: $breakpoint-xl){
        top: auto;
        bottom: -50px;
        right: 50%;
        transform: translateX(50%) rotate(90deg);
      }
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
  }
  &__text{
    padding: 0 0 0 70px;
    font-size: 18px;
    line-height: (27/18);
    @media (max-width: $breakpoint-md){
      padding: 0 20px;
    }
    p{
      margin: 0;
    }
  }
}
