.map{
  position: relative;
  padding: 35px 0 0;
  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: $text-pink;
  }
  &__inner{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 650px;
    top: 115px;
    left: 0;
    @media (max-width: $breakpoint-md){
      position: static;
      height: 250px;
      top: 0;
    }
  }
  &__wrapper{
    position: relative;
    z-index: 1;
    margin: 30px 0 50px;
    background-image: linear-gradient(to right, transparent 0,transparent 50%, $violet 50%, $violet 100%);
    @media (max-width: $breakpoint-md){
      margin: 0;
    }
  }
  &__form{
    .form{
      padding: 75px 20px 55px 80px;
      @media (max-width: $breakpoint-xl){
        padding: 35px 20px 35px 20px;
      }
    }
  }
}


.pin{
  transform: translateY(-100%);
  background-color: $pink;
  color: $text-white;
  font-size: 26px;
  line-height: (28/16);
  padding: 25px;
  position: relative;
  bottom: -40px;
  text-align: center;
  font-family: 'Gabriela', sans-serif;
  @media (max-width: $breakpoint-xl){
    font-size: 16px;
  }
  @media (max-width: $breakpoint-md){
    padding: 10px;
  }
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid $pink;
  }
}
