.reviews{
  padding: 80px 0 45px;
  @media (max-width: $breakpoint-md){
    padding: 20px 0 50px;
  }
  &__title{
    font-size: 38.75px;
    line-height: (50.3/38.75);
    font-weight: normal;
    text-align: center;
    margin: 0 0 -10px;
    text-transform: uppercase;
    color: $text-pink;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin: 0 0 30px;
    }
  }
  &__slide{}
  &__gallery{
    position: relative;
    margin: 0 -30px;
    @media (max-width: $breakpoint-xl){
      margin: 0;
    }
    .slick-arrow{
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      @include sprite($s-reviews-arrow);
      position: absolute;
      z-index: 1;
      top: 50%;
    }
    .slick-prev{
      left: -30px;
      transform: translateY(-50%) rotate(180deg);
      @media (max-width: $breakpoint-md){
        left: 30px;
        transform: translateY(150%) rotate(180deg) scale(0.7);
      }
      &:hover{
        transform: translateY(-50%) rotate(180deg) scale(1.4);
        @media (max-width: $breakpoint-md){
          transform: translateY(150%) rotate(180deg) scale(1.4);
        }
      }
    }
    .slick-next{
      right: -30px;
      transform: translateY(-50%);
      @media (max-width: $breakpoint-md){
        right: 30px;
        transform: translateY(150%) scale(0.7);
      }
      &:hover{
        transform: translateY(-50%) scale(1.4);
        @media (max-width: $breakpoint-md){
          transform: translateY(150%) scale(1.4);
        }
      }
    }
  }

  &__btn-wrapper{
    margin-top: -10px;
    text-align: center;
    @media (max-width: $breakpoint-md){
      margin: 10px 10px 0;
    }
    .btn{
      @media (max-width: $breakpoint-md){
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;

      }
    }
  }
}

.review-item{
  margin: 30px;
  padding: 40px 40px 20px;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  @media (max-width: $breakpoint-xl){
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: $breakpoint-md){
    padding: 30px 30px 20px;
    margin: 20px 10px;
  }
  .cocoen{
    flex: 0 0 210px;
    max-width: 210px;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 80%;
      max-width: 80%;
    }
  }
  &__img{
    flex: 0 0 310px;
    max-width: 310px;
    @media (max-width: $breakpoint-xl){
      flex: 0 0 100%;
      max-width: 100%;
    }
    img{
      flex: 0 0 310px;
      max-width: 310px;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__text-wrapper{
    padding-left: 50px;
    @media (max-width: $breakpoint-xl){
      padding-left: 0;
    }
  }
  &__text-title{
    margin: 45px 0 0;
    font-weight: normal;
    font-size: 24px;
    line-height: (28/24);
    color: $text-color;
    text-align: center;
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      margin-top: 20px;
    }
  }
  &__text{
    margin-top: 20px;
    color: $text-black;
    font-size: 15px;
    line-height: (23/15);
    @media (max-width: $breakpoint-md){
      font-size: 12px;
      margin-top: 10px;
    }
  }
  &__name{
    text-align: right;
    color: $pink;
    font-size: 22px;
    margin-top: 20px;
    margin-right: 10px;
    @media (max-width: $breakpoint-md){
      font-size: 17px;
      margin-top: 0;
    }
  }
}

