/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================
*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;



$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   768px; // Medium screen / tablet
$screen-lg:                   1024px; // Large screen / desktop
$screen-xl:                   1200px; // Extra large screen / wide desktop
//$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1200px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1200px
) !default;


$breakpoint-sm:               410px; // Small screnn / mobile
$breakpoint-md:               767px; // Medium screen / tablet
$breakpoint-xl:               1199px; // Extra large screen / wide desktop


//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table

$white:                       #ffffff;
$black:                       #20222e;

$violet:                      #42157d;
$violet-text:                 #4d0a88;
$pink:                        #ff004e;


// Colors in use

$body-bg:                     $white;
$text-color:                  $violet-text;
$text-white:                  $white;
$text-black:                  $black;
$text-pink:                   $pink;

//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------


// $font-family:                   'Proxima Nova Regular', Helvetica, Arial, sans-serif;
// $font-family--light:            'Proxima Nova Light', Helvetica, Arial, sans-serif;
// $font-family--bold:             'Proxima Nova Bold', Helvetica, Arial, sans-serif;



//$font-family--serif:          Georgia, "Times New Roman", Times, serif;
//$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;



$font-size:                   18px;

